@use '../base/variables' as *;
@use '../utils/media' as *;

.advant{

    h2{
        color: $color-white;
font-family: $font2;
font-size: 70px;
@include mobile{
    font-size: 34px;
    margin-bottom: 35px;
}
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 70px;

    }
    &__scroll{
        max-width: 100%;
        &-wrapper{
             overflow-x: auto;
        scroll-behavior: smooth;
        cursor: grab;
        user-select: none;

        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        &.active{
            cursor: grabbing;
        }
        }
        display: grid;
        grid-template-columns: min-content min-content min-content min-content min-content;
    
        grid-template-rows: repeat(2, auto);
        gap: 8px;

       
    column-gap: 20px;
    row-gap: 20px;

    &-cell{
        img {
  user-select: none;      /* Запрет выделения */
  -webkit-user-drag: none; /* Запрет перетаскивания картинки в браузерах на WebKit */
  user-drag: none;         /* Стандартное свойство для других браузеров */
  pointer-events: none;    /* (Опционально) чтобы мышь не цеплялась за картинку */
        }
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        &-body{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 15px;

        }
        &-number{
            color: $color-accent;
font-feature-settings: 'case' on;
font-family: $font1;
font-size: 48px;
@include mobile{
    font-size: 41px;
}
font-style: italic;
font-weight: 400;
line-height: normal;
        }
        &-description{
            
            color: $color-white;
font-family: $font2;
font-size: 18px;
@include mobile{
    font-size: 15px;
}
font-style: normal;
font-weight: 600;
line-height: normal;
        }
        &-small{
            width: 280px;
            height: 228px;
            border-radius: 20px;
        }

        &-large{
            width: 538px;
            height: 552px;
            border-radius: 20px;
        }
    }

    &-div2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

&-div3 {
    grid-column-start: 2;
    grid-row-start: 1;
}

&-div4 {
    grid-column-start: 2;
    grid-row-start: 2;
}

&-div6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

&-div9 {
    grid-column-start: 5;
    grid-row-start: 1;
}

&-div10 {
    grid-column-start: 5;
    grid-row-start: 2;
}
    }
    

    
}