@use "../base/variables" as *;
@use "../utils/media" as *;

.buy{
    margin-top: 150px;
    &__step-1{
        display: none;
        flex-direction: row;
        column-gap: 25px;
        z-index: 1;
        &.selected{
            display: flex;
        }
        @include mobile{
            position: relative;
        }
    }
    &__step-2{
        display: none;
        &.selected{
            display: flex;
        }
        column-gap: 85px;
        
        flex-direction: row;
        @include mobile{
            flex-direction: column;
            row-gap: 20px;
        }
        
        &-cards{
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            overflow-x: auto;
  -webkit-overflow-scrolling: touch; // для плавности на iOS
  scroll-behavior: smooth;

  // Скрываем скроллбар
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Chrome/Safari
  }

        }
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-inner{
                h2{
                    color: $color-white;
                    font-family: $font2;
                    font-size: 70px;
                    text-wrap: nowrap;
                    @include mobile{
                        font-size: 34px;
                    }
                    margin-top: 0;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 0.3em;
                }
                h3{
                    color: $color-white;
                    font-family: $font2;
                    font-size: 32px;
                    text-wrap: nowrap;
                    @include mobile{
                        font-size: 22px;
                    }
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
        &-arrows{
            display: flex;
            flex-direction: row;
            column-gap: 7px;
            &-btn{
                
                padding: 18px 24px !important;
                margin-top: 0 !important;
                transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
            &:hover{
                color: $color-accent;
                background-color: $color-white;
            }
            }
        }
        &-card{
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(42px);
            padding: 20px 60px 40px 40px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            &-status{
                display: flex;
                flex-direction: row;
                column-gap: 15px;
            }
            h3{
                all: unset;
                color: $color-accent;
                font-family: $font1;
                font-size: 50px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }
            span{
                font-family: $font2;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &-rooms{
                color: $color-white;
            }
            &-booked{
                color: yellow;
            }
            img{
                width: 230px;
                height: 200px;
            }
            p{
                width: 280px;
                color: $color-gray;
                font-family: $font3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%; /* 25.2px */
                
            }
            button{
                margin-top: 0 !important;
                transition: color 0.2s ease-in-out, background-color 0.3s ease-in-out;
            &:hover{
                color: $color-accent;
                background-color: $color-white;
            }
            }
        }
    }
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        @include tablet{
            width: 100%;
        }
        @include mobile{
            width: 100%;
        }
        &-mobile{
            @include mobile{
                width: 50%;

            }
        }
        h2{
            color: $color-white;
            font-family: $font2;
            font-size: 70px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 0.3em;
            margin-top: 0;
            @include mobile{
                font-size: 34px;
            }
        }
        h3{
            color: $color-white;
            font-family: $font2;
            font-size: 32px;
            text-wrap: nowrap;
            @include mobile{
                font-size: 22px;
            }
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        select{
            display: inline-flex;
            padding: 20px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, 0.30);
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(22px);

            color: $color-white;
            font-family: $font2;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        option{
            color: $color-white;
            font-family: $font2;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    button{
        display: inline-flex;
        padding: 18px 30px;
        align-items: flex-start;
        gap: 10px;
        transition: color 0.2s ease-in-out;
            &:hover{
                color: $color-accent;
            }
        
    }
    &__steps{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        max-width: 100%;
        width: 100%;
        span{
            color: $color-accent;
            font-family: $font2;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-wrap: nowrap;
        }
    }
    &__access{
        display: flex;
        flex-direction: row;
        display: flex;
        margin-top: 10px;
        @include mobile{
                flex-direction: column;
            }
        column-gap: 26px;
        &-body{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 8px;
            
            :first-of-type{
                color: $color-accent;
                font-feature-settings: 'case' on;
                font-family: $font1;
                font-size: 50px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                
            }
            :last-of-type{
                color: $color-white;
                font-family: $font3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 21px */
                text-wrap: nowrap;
            }
        }
    }

    button{
        width: fit-content;
        @include mobile{
            width:100%;
            justify-content: center;
        }
        position: relative;
        display: flex;
        padding: 18px 30px;
        align-items: center;
        gap: 10px;
        border: 2px solid $color-accent;
        background-color: transparent;
        margin-top: 55px;
        @include mobile{
            margin-top: 140px;
        }

        color: $color-white;
        font-family: $font2;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; /* 100% */
        z-index: 1;
    }

    &__img{
        width: 70%;
        @include desktop{
            margin-top: -80px;
        }
        clip-path: inset(0px 0px 0px -9999px); 
        @include tablet{
            width: 55%;
        }
        @include mobile{
            width: 188px;
            position: absolute;
            right: -20px;
            bottom: 27px;
        }
        
        position: relative;
        
        &-house{
            position: relative;
            z-index: 1;
            width: 780px;
            height: 926px;
            flex-shrink: 0;
            @include mobile{
                width: 421px;
                height: 500px;
            }
        }
        &::after {
                position: absolute;
                bottom: 24px;
                right: -107px;
                @include tablet{
                    right: -500px;
                }
                @include mobile{
                    bottom: -40px;
                    right: -726px;
                }
                display: flex;
                z-index: 0;
                content: ' ';
                background-image: url('./public/index/buy/shadow.svg');
                background-size: 1434px 205px;
                height: 205px;
                width: 1434px;
}
    }
}