@use "../base/variables" as *;
@use "../utils/media" as *;

.contacts{
    h2{
        color: $color-white;
        font-family: $font2;
        font-size: 70px;
        @include mobile{
            font-size: 34px;
        }
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__tops{
        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
    }
        &-connect{
            display: flex;
            flex-direction: row;
            column-gap: 80px;
            row-gap: 35px;
            @include tablet{
                column-gap: 40px;
            }
            flex-wrap: wrap;
            @include tablet{
                max-width: 67%;
            }
            
        }
        &-contact{
            color: $color-white;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: $font2;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 12px;

            &:first-of-type{
                &::before{
                    display: block;
                    content: "";
                    background-image: url('./public/contacts/phone.svg');
                    width: 42px;
                    height: 42px;
                }
            }
            &:nth-of-type(2){
                &::before{
                    display: block;
                    content: "";
                    background-image: url('./public/contacts/phone.svg');
                    width: 42px;
                    height: 42px;
                }
            }
            &:nth-of-type(3){
                &::before{
                    display: block;
                    content: "";
                    background-image: url('./public/contacts/mail.svg');
                    width: 42px;
                    height: 42px;
                }
            }
            &:last-of-type{
                justify-self: end;
                @include mobile{
                    justify-self: normal;
                }
            }
        }
        &-row1{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            
            p{
                margin-top: 0;
                width: 235px;
                color: $color-white;
                font-family: $font3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%; /* 25.2px */
            }
        }

        &-row2{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            p{
                margin-top: 0;
                width: 235px;
                color: $color-white;
                font-family: $font3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%; /* 25.2px */
            }
        }

        &-row3{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            p{
                @include mobile{
                    display: none;
                }
                margin-top: 0;
                width: 235px;
                color: $color-white;
                font-family: $font3;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%; /* 25.2px */
            }
        }

        &-row4{
            display: flex;
            @include mobile{
                display: none;
            }
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 0;
            p{
                display: block;
                color: $color-accent;
                text-align: right;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: $font2;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px; /* 100% */
                white-space: nowrap;
            }
            &-head{
                display: flex;
            
                flex-direction: column;
                row-gap: 10px;
                margin-top: 0;
                margin-bottom: 0;
                cursor: pointer;
                transition: color 0.2 ease-in-out;
                &:hover{
                    color: $color-gray;
                }
            }
            &-mobile{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 0;
                margin-bottom: 0;
            p{
                display: block;
                color: $color-accent;
                text-align: right;
                font-variant-numeric: lining-nums proportional-nums;
                font-family: $font2;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px; /* 100% */
                white-space: nowrap;
            }
                &-head{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                row-gap: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }
            }
        }
    }
    &__office{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &-left{
            color: #BCC1C9;
            font-family: $font3;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            b{
                color: $color-white;
            }
            
        }

        &-right{
            button {
                border: 2px solid $color-white;
                padding: 18px 30px;
                color: $color-white;
                background-color: transparent;
                font-family: "Montserrat";
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
                cursor: pointer;
                 transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
            &:hover{
                color: $color-accent;
                background-color: $color-white;
            }
            }
        }
    }
}