$desktop: 1440px;
$desktop-1: 1439px;
$tablet: 840px;
$tablet-1: 839px;
$mobile: 375px;
$mobile-1: 374px;

@mixin desktop{
    @media(min-width: $desktop){
        @content;
    }
}

@mixin tablet{
    @media(min-width: $tablet) and (max-width: $desktop-1){
        @content;
    }
}

@mixin mobile{
    @media(min-width: $mobile) and (max-width: $tablet-1){
        @content;
    }
}